.container {
  max-width: 60%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
  background-color: whitesmoke;
}

.form {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.form > div {
  grid-column: 1 / 5;
}

/* .form > button {
  line-height: 2;
  grid-column: 4 / 5;
} */

.form > .link {
  grid-column: 4 / 5;
}

.error {
  color: red;
}

li {
  list-style: none;
}

.home {
  max-width: 70%;
  margin: 0 auto;
}

.home > .form {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.home > .form > .label {
  display: block;
  grid-column: 1 / 5;
}

.label > textarea {
  display: block;
  width: 100%;
  min-height: 50px;
}

.home > .form > button {
  line-height: 2;
}
