.post {
  border-bottom: solid lightgrey;
  background-color: white;
  padding: 10px;
}

.username {
  font-weight: bold;
  padding-right: 5px;
}

.date {
  font-size: small;
}

.post div {
  display: flex;
}
